@import "mocha.css";
* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @mantle;
    color: @text;
}

#workspaces button {
    padding: 5px;
    color: @subface2;
    margin-right: 5px;
}

#workspaces button.active {
    color: @subtext0;
}

#workspaces button.focused {
    color: @subtext0;
    background: @maroon;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: @crust;
    background: @green;
    border-radius: 10px;
}

#workspaces button:hover {
    background: @text;
    color: @crust; 
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#custom-swaync,
#network,
#cpu,
#memory,
#language,
#workspaces,
#custom-cava,
#tray,
#backlight {
    background: @base;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 5px;
}

#custom-cava {
    background: @base;
    border-radius: 10px;
    margin-left: 10px;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#language {
    background: @base;
    border-radius: 10px;
    padding: 6px 6px;
    margin-left: 10px;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#custom-swaync {
    color: @subtext0;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#workspaces {
    background: @base;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#cpu {
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#memory {
    border-radius: 10px 0px 0px 10px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: @subtext0;
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    color:  @subtext0;
    border-radius: 10px 0px 0px 10px;

}

#pulseaudio {
    color: @subtext0;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @subtext0;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 5px;
}

#battery {
    color: @subtext0;
}
